{% extends "layout.html" %} {% block title %} Index Page {% endblock %} {% block main %}

<div class="div-search">
    <div style="display: flex;margin-left: 10%;margin-right: 10%; padding-top: 50px;align-items: center;">
        <div style="    width: auto;
        max-width: 70%;
        min-width: 70%;
        padding-right: 20px;">

            <div class="relative">
                <input type="search" value="https://i.ytimg.com/vi/dWnhkEFRzFQ/maxresdefault.jpg" id="urlImg" class="block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Image Url">
                <button type="submit" onclick="searchUrl()" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
            </div>

        </div>

        <div style="width: 100%;">

            <div class="relative">
                <input type="file" id="searchImage" class="block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Search" required>
                <button type="submit" onclick="searchImage()" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
            </div>

        </div>
    </div>
</div>




<div class="divinder">
    <div class="inline-flex justify-center items-center w-full">
        <hr class="my-8 w-64 h-1 bg-gray-200 rounded border-0 dark:bg-gray-700">
        <div class="absolute left-1/2 px-4 bg-white -translate-x-1/2 dark:bg-gray-900">
            <svg aria-hidden="true" class="w-5 h-5 text-gray-700 dark:text-gray-300" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z" fill="currentColor"></path></svg>
        </div>
    </div>
</div>



<div style="margin-left: 10%;margin-right: 10%;" class="flex p-4 mb-4 text-sm text-blue-700 bg-blue-100 rounded-lg dark:bg-blue-200 dark:text-blue-800" role="alert">
    <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
    <span class="sr-only">Info</span>
    <div>
        <span class="font-medium">Info alert!</span> We like to let you know
        <span class="font-medium">NSFW</span> Result will Not Shown and remove from result onready!
    </div>
</div>

<div class="anime-cards" id="anime-cards">





</div>




{% endblock %}