body {
    /*background-color: #181818;*/
    /*color: white;*/
    /*background-color: white;*/
    min-height: 1000px;
    height: 100%;
}

.anime-cards {
    margin: 30px;
    display: flex;
    position: absolute;
    overflow: auto;
    width: 95%;
}

.anime-card {
    margin: 10px;
    max-width: 300px;
    min-width: 300px;
}