body {
    background-color: #181818;
    color: white;
    /*background-color: white;*/
    height: 100%;
}

.anime-cards {
    margin: 30px;
    display: flex;
    position: fixed;
    overflow: auto;
    width: 100%;
}

.anime-card {
    margin: 10px;
    max-width: 300px;
    min-width: 300px;
}